@using Instagram_v_01.Views.Manage
@inject SignInManager<ApplicationUser> SignInManager
@{
    var hasExternalLogins = (await SignInManager.GetExternalAuthenticationSchemesAsync()).Any();
}

<ul class="nav nav-pills nav-stacked">
    <li></li>
    <li class="@ManageNavPages.IndexNavClass(ViewContext)"><a asp-action="Index">Profile Info</a></li>
    <li class="@ManageNavPages.ChangePasswordNavClass(ViewContext)"><a asp-action="ChangePassword">Change password</a></li>
    <li> <a asp-action="Index" asp-controller="Post">Перейти к постам</a></li>
</ul>

